<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stats.css">
    

    <title>アドバイス</title>
</head>
<body>
<header>    
    <h1 class="headline">先生からのアドバイス</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a>→成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップに戻る</button></a></li>
        </ul>
     </nav>
    <div id="answer">
    <h2 class="teacherA">教員からのアドバイス</h2>
    <div id="size">
     {% block content %}
     <p>-------------------</p>
     {% for advice in advices %}
        ID : {{ advice.id }}
        アドバイス：{{ advice.ad_content }}
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
</div>
</div>
<div id="question">
   <h2 class="teacherQ"> 個人質問の入力 </h2> 
   {% block content2 %}
   <form method="POST">
   {% csrf_token %}
   {{ form.as_p }}
   <button name = "quebutton"  type="submit">提出</button>
   </form>
   {% endblock content2 %}
   <style>
   textarea{
     width:70%;
     height:100px;
     resize:vertical;
   }
   </style>
</div>
</body>
</html>