<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/publicA.css">
    

    <title>生徒学習記録</title>
</head>
<body>
<header>    
    <h1 class="headline">学習記録確認</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a> →成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="public">
    <h2 class="public">{{ message }}</h2>
    <h3>
    {% block content %}
    <p></p>
     {% for time in times %}
        生徒 : {{ user.student_name }} <br>
        勉強科目 : {{ time.subject }} <br>
        勉強時間 : {{ time.amount }}時間 <br>
        日付 : {{ time.date }}
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
    </h3>
</div>
</body>
</html>