<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <input type="text" name="username" placeholder="ユーザID">
        <input type="password" name="password" placeholder="パスワード">
        <button type="submit" name="login">ログイン</button>
    </form>
    <a href="../new">ユーザー登録する</a>
</body>
</html>