<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h2>ユーザー登録</h2>
<form method="POST" action="{% url 'new' %}">{% csrf_token %}
    <label>ユーザーID</label>
    {{ form.student_id }}
    {{ form.student_id.errors }}
    <br>
    <label>ユーザー名</label>
    {{ form.student_name }}
    {{ form.student_name.errors }}
    <br>
    <label>パスワード</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <br>
    <label>パスワード(確認)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <br>
    <input type="submit" value="登録する">
</form>
{% endblock %}
</body>
</html>