<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/publicA.css">
    

    <title>質問と回答</title>
</head>
<body>
<header>    
    <h1 class="headline">質問と回答</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a> →成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="public">
    <h2 class="public">皆から寄せられた質問</h2>
    <div class="size">
    {% block content %}
    <p></p>
     {% for question in questions %}
        ID: {{ question.id }}<br>
        質問 : {{ question.content }} <br>
        備考：{{ question.note }}
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
</div>
</div>
<div id="Answer">
    <h2 class="Answer">教員からの回答</h2>
    <div class="size">
    {% block content2 %}
    <p></p>
     {% for answer in answers %}
        質問 : {{ answer.que }} <br>
        回答 : {{ answer.content }} <br>
     <p>-------------------</p>
     {% endfor %}
    {% endblock content2 %}
</div>
</div>
<div id="Question">
    <h2 class="question">
        質問入力
    </h2>
    {% block content3 %}
         <form method="POST">
         {% csrf_token %}
         {{ form.as_p }}
         <button name = "quebutton"  type="submit">提出</button>
         </form>
         {% endblock content3 %}
         <style>
         textarea{
           width:70%;
           height:100px;
           resize:vertical;
         }
         </style>

</div>

</body>
</html>