<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stats.css">
    

    <title>学習・成績確認用ページ</title>
</head>
<body>
<header>    
    <h1 class="headline">質問する</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a> →成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
            <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>
     <h1 style="text-align:center">質問する</h1>
     <div class="main">
         <h1>課題入力</h1>
         {% block content %}
         <form method="POST">
         {% csrf_token %}
         {{ form.as_p }}
         <button name = "quebutton"  type="submit">提出</button>
         </form>
         {% endblock %}
         <style>
         textarea{
           width:70%;
           height:100px;
           resize:vertical;
         }
         </style>
    </div>
</body>
</html>