<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stats.css">
    

    <title>学習・成績確認</title>
</head>
<body>
<header>    
    <h1 class="headline">学習・成績確認</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a> →成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="latest">
    <h2 class="now">今回の成績 </h2>
    <ul class="subject">
        <li class="math">数学：80点</li>
        <li class="english">英語：75点</li>
        <li class="science">理科：90点</li>
        <li class="society">社会：50点</li>
        <li class="japanese">国語：40点</li>
    </ul>
</div>
<div id="history">
   <h2 class="until">これまでの成績</h2> 
    <h3>前回</h3>
    <ul class="subject">
            <li class="math2">数学：75点</li>
            <li class="english2">英語：70点</li>
            <li class="science2">理科：80点</li>
            <li class="society2">社会：45点</li>
            <li class="japanese2">国語：50点</li>
        </ul>
</div>
<div id="advice">
    <h2 class="advice">推奨される勉強時間</h2>
    <ul class="subject">
        <li class="math3">数学：2時間</li>
        <li class="english3">英語：3時間</li>
        <li class="science3">理科：1時間</li>
        <li class="society3">社会：5時間</li>
        <li class="japanese3">国語：6時間</li>
    </ul>
</div>
</body>
</html>