<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>HTML Sample</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="sample.js"></script>
</head>
<body>
  <div class="header">生徒ページ</div>
    {% block content %}
        <p>-------------------</p>
        {% for post in posts %}
            生徒ID：{{ post.student_id }}
            生徒名：{{ post.student_name }}
            <p>-------------------</p>
        {% endfor %}
    {% endblock content %}

</body>
</html>