<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/top.css">
    <title>studypport</title>
</head>
<body ontouchstart="dummy()">
<header>
    <h1 class="headline">Studypport生徒メニュー</h1>
    <p>こんにちは{{ user.student_name }}さん</p>
    <a href= "{% url 'top' %}">ホーム</a><br>
    <a href="{% url 'logout' %}">ログアウト</a>
    
</header>
        <nav>  
            <ul class="menu">
                <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
                <li class="item"><button onclick="location.href='https://mail.google.com/mail'" target="_blank" rel="noopener noreferrer" >メール作成</button></li>
            </ul>
        </nav>

<div class="check">
<h2 class="headline2">学習を記録する</h2>
    <div class="checksize">
        <ul class="page1">
        {% block content %}
        <form method="POST">
        {% csrf_token %}
        {{ time_form.as_p }}
        <button name = "timebutton" type="submit">決定</button>
        </form>
        {% endblock %}
    </ul>
    </div>
    </div>
    <div class="record">
    <h2 class="info"> 学習記録を見る</h2>
    <p></p>
    <div class="checksize">
    <h3><li><a href="{% url 'detail' student_id=user.student_id %}">自分の学習記録を見る</a></li></h3>
    </div>
    </div>
    <div class="record">
    <h2 class="headline2">成績を記録する</h2>
    <div class="checksize">
        <ul class="page1">
        {% block content2 %}
        <form method="POST">
        {% csrf_token %}
        {{ grade_form.as_p }}
        <button name = "gradesbutton" type="submit">決定</button>
        </form>
        {% endblock %}
        </ul>
    </div>
</div>
    <div class="news">
    <h2 class="info"> 今週のお知らせ</h2>
        <div class="checksize">
            <h3><li class="page2"><a href="{% url 'kadai' %}">お知らせと課題確認</a></li></h3>
            <h3><li><a href="{% url 'qa' %}">皆のよくある質問</a></li></h3>
            
        </div>
    </div>
    
</body>
</html>