<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/work.css">
    

    <title>課題・お知らせ確認</title>
</head>
<body>
<header>    
    <h1 class="headline">課題・お知らせ確認</h1>
    <p class="navi"><a href= "{% url 'top' %}">Top</a> →成績確認</p>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href= "{% url 'stats' %}"><button>学習・成績確認</button></a></li>
                <li class="item"><a href= "{% url 'advicelist' %}"><button>アドバイス</button></a></li>
                <li class="item"><a href= "{% url 'qa' %}"><button>Q&A</button></a></li>
                <li class="item"><a href= "{% url 'kadai' %}"><button>課題とお知らせ</button></a></li>
            <li class="item"><a href= "{% url 'top' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="work">
    <h1 class="now">課題確認 </h1>
   <div class="size">
    {% block content %}
    <p></p>
     {% for kadai in kadais %}
        ID : {{ kadai.class_id }} <br>
        課題 : {{ kadai.homework }} <br>
        日時 : {{ kadai.date }} <br>
        締め切り : {{ kadai.deadline }} <br>
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
</div> 
</div>
<div id="info">
    <h1 class="info">お知らせ確認</h1>
    <div class="size">
    {% block content2 %}
    <p></p>
     {% for notice in notices %}
        ID : {{ notice.id }} <br>
        お知らせ : {{ notice.content }} <br>
     <p>-------------------</p>
     {% endfor %}
    {% endblock content2 %}
</div>
</div>

</body>
</html>