<!doctype html>
<html lang="ja">
  <body>
  <!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/Login.css">
    <title>ユーザーログインページ</title>
</head>
<body>
<header>
  <h1 style="text-align:center">Studypportユーザーログインページ</h1>
  {% block content %}
  <div class="main">
    <h2 style="text-align:center">ユーザーIDとパスワードを入力してください</h2>
    <form method="POST" action="{% url 'login' %}" >
      {% csrf_token %}
      <label>ユーザーID</label><br>
      {{ form.username }}
      {{ form.username.errors }}<br>
      <label>パスワード</label><br>
      {{ form.password }}
      {{ form.password.errors }}<br>
      <button type="submit" name="login">ログイン</button>
      {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
    </form>
  <li class="item"><a href="{% url 'regist' %}"><button>生徒の方の新規登録の方はこちらから</button></a></li>
  <li class="item"><a href="{% url 'T_regist' %}"><button>教師の方の新規登録はこちらから</button></a></li>
  {% endblock %}
</body>
</html>