<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/Main.css">
    <title>教員メインページ</title>
</head>
<body>
<header>
    <h1 class="headline">教員メニュー</h1>
    <p>こんにちは{{ user.student_name }}さん</p>
    <a href="{% url 'logout' %}">ログアウト</a>
</header>
        <nav>  
        <ul class="menu">
          <li class="item"><a href="{% url 'question' %}"><button>生徒からの質問</button></a></li>
          <li class="item"><a href="{% url 'study' %}"><button>生徒の成績・勉強時間</button></a></li>
          <li class="item"><button onclick="location.href='https://mail.google.com/mail'" target="_blank" rel="noopener noreferrer" >メール作成</button></li>
         </ul>
        </nav>

<div class="maintitle">
<h1 style="text-align:center">課題・アドバイス・お知らせ入力フォーム</h1>
<div class="main">
    <h1>課題入力</h1>
    {% block content %}
    <form method="POST">
    {% csrf_token %}
    {{ kadaiform.as_p }}
    <button name = "kadaibutton"  type="submit">提出</button>
    </form>
    {% endblock %}
    <style>
    textarea{
      width:100%;
      height:100px;
      resize:vertical;
    }
    </style>
  <div class="main">
    <div class="main">
        <h1>アドバイス入力</h1>
        {% block content2 %}
        <form method="POST">
        {% csrf_token %}
        {{ adviceform.as_p }}
        <button name = "advicebutton"  type="submit">提出</button>
        </form>
        {% endblock %}
        <style>
        textarea{
          width:100%;
          height:100px;
          resize:vertical;
        }
        </style>
      <div class="main">
    <h1>お知らせ入力</h1>
    {% block content3 %}
    <form method="POST">
    {% csrf_token %}
    {{ noticeform.as_p }}
    <button name = "noticebutton"  type="submit">提出</button>
    </form>
    {% endblock %}
    <style>
    textarea{
      width:100%;
      height:100px;
      resize:vertical;
    }
    </style>
    
</body>
</html>