<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/Question.css">
    

    <title>生徒からの質問ページ</title>
</head>
<body>
<header>    
    <h1  class="top"  style="text-align:center">生徒からの質問</h1>
    <p>こんにちは{{ user.student_name }}さん</p>
    <a href="{% url 'logout' %}">ログアウト</a>
</header>
        <nav>
        <ul class="menu">
        <li class="item"><a href="{% url 'question' %}"><button>質問の対応</button></a></li>
        <li class="item"><a href="{% url 'study' %}"><button>生徒の成績・勉強時間</button></a></li>
        <li class="item"><a href="{% url 'main' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="latest">
    <h1 class="now">生徒からの質問 </h1>
</div>
<div id="history">
    {% block content %}
    <p></p>
     {% for question in questions %}
        ID: {{ question.id }}<br>
        質問 : {{ question.content }} <br>
        備考：{{ question.note }}
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
</div>
<div id="answer">
<h1 class="now">質問に答える </h1> </div>
<div id="A">
    {% block content2 %}
    <form method="POST">
    {% csrf_token %}
    {{ a_form.as_p }}
    <button name = "ansbutton"  type="submit">提出</button>
    </form>
    {% endblock content2 %}
    <style>
        textarea{
          width:70%;
          height:100px;
          resize:vertical;
        }
    </style>
    </div>
</body>
</html>