<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/Grades and Study time.css">
    

    <title>生徒の成績・勉強時間ページ</title>
</head>
<body>
<header>    
    <h1 class="A" style="text-align:center">生徒の成績・勉強時間</h1>
    <p>こんにちは{{ user.student_name }}さん</p>
    <a href="{% url 'logout' %}">ログアウト</a>
</header>
        <nav>
        <ul class="record">
            <li class="item"><a href="{% url 'question' %}"><button>生徒からの質問</button></a></li>
            <li class="item"><a href="{% url 'study' %}"><button>生徒の成績・勉強時間</button></a></li>
            <li class="item"><a href="{% url 'main' %}"><button>トップへ戻る</button></a></li>
        </ul>
     </nav>

<div id="latest">
  <div class="now">
    <h1 style="text-align:center">生徒の成績・勉強時間</h1>
</div></div>

    <h2>・生徒Aの成績</h2>
    <div id="history">
    国語 {{data.point.stu1.subject.japanese}}点
    数学 {{data.point.stu1.subject.math}}点
    英語 {{data.point.stu1.subject.english}}点
    社会 {{data.point.stu1.subject.society}}点
    理科 {{data.point.stu1.subject.science}}点
    <p>合計{{data.point.stu1.subject.sum}}点</p>
    勉強したほうが良い科目
    {%if data.point.stu1.subject.min_sub == "japanese"%}
    国語
    {%elif data.point.stu1.subject.min_sub == "math"%}
    数学
    {%elif data.point.stu1.subject.min_sub == "english"%}
    英語
    {%elif data.point.stu1.subject.min_sub == "society"%}
    社会
    {%elif data.point.stu1.subject.min_sub == "science"%}
    理科
    {% endif %}   
    <h2>・生徒Bの成績</h2>
    国語 {{data.point.stu2.subject.japanese}}点
    数学 {{data.point.stu2.subject.math}}点
    英語 {{data.point.stu2.subject.english}}点
    社会 {{data.point.stu2.subject.society}}点
    理科 {{data.point.stu2.subject.science}}点
    <p>合計 {{data.point.stu2.subject.sum}}点</p>
    勉強したほうが良い科目
    {%if data.point.stu2.subject.min_sub == "japanese"%}
    国語
    {%elif data.point.stu2.subject.min_sub == "math"%}
    数学
    {%elif data.point.stu2.subject.min_sub == "english"%}
    英語
    {%elif data.point.stu2.subject.min_sub == "society"%}
    社会
    {%elif data.point.stu2.subject.min_sub == "science"%}
    理科
    {% endif %}

    {% block content %}
    <p></p>
     {% for time in data.times %}
        生徒id : {{ time.stu_id }} <br>
        生徒名 : {{ time.stu_name }} <br>
        勉強科目 : {{ time.subject }} <br>
        勉強時間 : {{ time.amount }} <br>
        日付 : {{ time.date }}
     <p>-------------------</p>
     {% endfor %}
    {% endblock content %}
</div>

</body>
</html>