<!doctype html>
<html lang="ja">
  <body>
  <!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/User registration.css">
    <title>生徒登録ページ</title>
</head>
<body>
<header>
  <h1 style="text-align:center">ユーザー登録ページ</h1>
  <div class="main">
  {% block content %}
<h2>以下の欄を記入してください。</h2>
<form method="POST" action="{% url 'regist' %}">{% csrf_token %}
    <label>ユーザーID</label><br>
    {{ form.student_id }}
    {{ form.student_id.errors }}
    <br>
    <label>ユーザー名</label><br>
    {{ form.student_name }}
    {{ form.student_name.errors }}
    <br>
    <label>パスワード</label><br>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <br>
    <label>パスワード(確認)</label><br>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <br>
    <button type="submit" name="regist">登録する</button>
</form>
<li class="item"><a href="{% url 'login' %}"><button>ログインの方はこちらから</button></a></li>
{% endblock %}
</body>
</html>