body{
    margin: 0;
    background-color: #ecf0f1;
    font-family: 'HG正楷書体-PRO';
}
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(199, 255, 146);
}

p.sample img{
    width: 40%;
}

.menu{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 20px;
}
button {
        color:#454545;
        background:transparent;
        border-width:2px;
        border-style: solid;
        border-color: #454545;
        position:relative;
        margin:1em;
        display:inline-block;
        padding:0.5em 1em;
        text-align:center;
        font-family:comfortaa;
        font-weight:bold;
    }
button:before, button:after {
        content:'';
        display:block;
        position:absolute;
        border-color:#454545;
        box-sizing:border-box;
        border-style:solid;
        width:1em;
        height:1em;
        transition:all 0.3s ease-in-out;
    }
button:before {
        top:-6px;
        left:-6px;
        border-width:2px 0 0 2px;
        z-index:5;
    }
button:after {
        bottom:-6px;
        right:-6px;
        border-width:0 2px 2px 0;
        }
button:hover:before, button:hover:after {
        width:calc(100% + 12px);
        height:calc(100% + 12px);
        border-color:#fff;
    }
button:hover {
        color:#353535;
        background-color:#fff;
        border-color:#fff;
    }

.item{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    font-size: 1.5vw;
}
.maintitle{
    text-align: left;
    font-family: 'HG正楷書体-PRO';
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
}

.info{
    text-align: left;
    font-family: 'HG正楷書体-PRO';
    padding: 0.5em 1em;
    margin: 0em 0.2em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
}
.graph{
    text-align: left;
    font-family: 'HG正楷書体-PRO';
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    
}
.main{
    float: left;
    width: 100%;
}
.mainsize{
    font-size: 1.5vw;
}
.Notice{
    float: right;
    width: 50%;    
}
.news{
    clear: both;
    padding: 1%;
}
.newssize{
    font-size: 1.5vw;
}



