body{
    margin: 0;
    background-color:  #ecf0f1;
    font-family: 'HG正楷書体-PRO';
}
a{
    color: rgb(25, 84, 248);
    text-decoration: none;
}
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(146, 239, 255);
}
.size{
    color: #696969;
    font-weight: bold;
    border: solid 1px #e6e6e6;
    padding: 0.3em 1em 2em 1em;
    box-shadow:2px 2px 0 rgba(0,0,0,.1);
    font-weight: bold;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    background-image:linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 97.5%, #646464 100%);
    background-size: 8px 100%,100% 2em;
    line-height: 2em;
}

button {
    font-size: 1.3vw;
    color:#454545;
    background:transparent;
    border-width:2px;
    border-style: solid;
    border-color: #454545;
    position:relative;
    margin:1em;
    display:inline-block;
    padding:0.5em 1em;
    text-align:center;
    font-family:comfortaa;
    font-weight:bold;
}
button:before, button:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.3s ease-in-out;
}
button:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
}
button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
    }
button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#fff;
}
button:hover {
    color:#353535;
    background-color:#fff;
    border-color:#fff;
}

.item{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 1.5vw;
}
#Answer{
    float: left;
    text-align: left;
    width: 50%;
    min-height: 50px;
}
.Answer{
    text-align: left;
    padding: 0.5em 1em;
    margin: 0em 0.25em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    
}
#public{
    float: left;
    text-align: left; 
    width: 50%;
    min-height: 50px;
}
.public{
    text-align: left;
    padding: 0.5em 1em;
    margin: 0em 0.25em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
}
#Question{
    clear: both;
    min-height: 300px;
}
.question{
    text-align: left;
    font-family: 'HG正楷書体-PRO';
    padding: 0.5em 1em;
    margin: 0em 0.25em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    
}
.record {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 20px;
}
      

.navi{
    text-align: left;
    margin-left:3vw;  
    font-size: 1.2vw;
}

@media screen and (max-width: 480px) {
    .navi{
        display: none;
    }
	.now{
        font-size: 7vw;
    }
    .until{
        font-size: 7vw;
    }
    .subject{
        font-size: 5vw;
    }
    .subject2{
        font-size: 5vw;
    }
    .item{
        margin:3%;
    }
    #Answer{
        float:none;
        width: 100%;
        min-height: 200px;
        
    }
    #public{
        float: none;
        width: 100%;
        min-height: 200px;
    }
}