body{
    margin: 0;
    background-color: #ecf0f1;
    font-family: 'HG正楷書体-PRO';
    
}
a{
    text-decoration: none;
}
.navi a{
    color: rgb(25, 84, 248);
}
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(199, 255, 146);
}

p.sample img{
    width: 40%;
}

.menu{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 20px;
}
button {
        font-size: 1.3vw;
        color:#454545;
        background:transparent;
        border-width:2px;
        border-style: solid;
        border-color: #454545;
        position:relative;
        margin:1em;
        display:inline-block;
        padding:0.5em 1em;
        text-align:center;
        font-family:comfortaa;
        font-weight:bold;
    }
button:before, button:after {
        content:'';
        display:block;
        position:absolute;
        border-color:#454545;
        box-sizing:border-box;
        border-style:solid;
        width:1em;
        height:1em;
        transition:all 0.3s ease-in-out;
    }
button:before {
        top:-6px;
        left:-6px;
        border-width:2px 0 0 2px;
        z-index:5;
    }
button:after {
        bottom:-6px;
        right:-6px;
        border-width:0 2px 2px 0;
        }
button:hover:before, button:hover:after {
        width:calc(100% + 12px);
        height:calc(100% + 12px);
        border-color:#fff;
    }
button:hover {
        color:#353535;
        background-color:#fff;
        border-color:#fff;
    }

.item{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    font-size: 1.5vw;
}
.headline{
    font-family: 'HG正楷書体-PRO';
}
.headline2{
    text-align: left;
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    font-family: 'HG正楷書体-PRO';
}

.info{
    text-align: left;
    padding: 0.5em 1em;
    margin: 0em 0.2em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    font-family: 'HG正楷書体-PRO';
}
.graph{
    text-align: left;
    padding: 0.5em 1em;
    margin: 0em 0.5em;
    color: #474747;
    background: whitesmoke;
    border-left: double 10px #4ec4d3;
    border-right: double 10px #4ec4d3;
    
}
.check{
    float: left;
    width: 50%;
}
.checksize{
    font-size: 1.5vw;
}
.record{
    float: right;
    width: 50%;    
}
.news{
    clear: both;
    padding: 1%;
}
.newssize{
    font-size: 1.5vw;
}
.navi{
    text-align: left;
    margin-left:3vw;
    font-size: 1.2vw;  
}
.wrap{
    display: none;
}

@media screen and (max-width: 480px) {
    .wrap{
        display: block;
    }
    .navi a{
        display: none;
    }
    .graph{
        font-size: 7vw;
    }
    .check{
        float: none;
        width: 100%;
    }
    .checksize{
        font-size: 5vw;
    }
    .record{
        float: none;
        width: 100%;
    }
	.headline2{
        font-size: 7vw;
    }
    .info{
        font-size: 7vw;
    }
    .item{
        margin:2%;
    }
    span.menu3bar {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        width: 15px;
        height: 15px;
        outline: 1px solid #999;
        background-color: #999;
        border: 5px solid #fff;
        vertical-align: middle;
    }
        span.menu3bar:before, span.menu3bar:after {
            position: absolute;
            content:"";
            display: block;
            top: 20%;
            right: 0;
            height: 20%;
            left: 0;
            background-color: #fff;
        }
        span.menu3bar:before {
            top: 20%;
        }
        span.menu3bar:after {
            top: 60%;
        }
    
    /*pc用スタイル*/
    @media only screen and (min-width: 1024px) {
        span.menu3bar {
            display: none;
        }  
    }
    
    /*メニュー*/
    div.menu3bar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    div.menu3bar > ul {
        position: fixed;
        top: 0;
        right: -100%;
    
        max-width: 70%;
        max-height: 100%;
    
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.8);
    
        text-align: left;
        overflow: auto;
        font-size: 80%;
        line-height: 160%;
    
        -webkit-overflow-scrolling: touch;
    
        -webkit-transition: right .3s ease-in-out;
        transition: right .3s ease-in-out;
    }
        div.menu3bar > ul > li {
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    
        div.menu3bar > ul ul {
            margin-left: 10px;
        }
        div.menu3bar > ul ul li {
            padding: 5px;
        }
    
        div.menu3bar:hover > ul {
            right: 0;
        }
}






      
      